
.config-floater {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
}
.query-floater {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.75);
}
#error-floater {
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, 0%);
	margin: 0 auto;
	max-width: 100%;
	display: none;
}
#configtitle, #queryui {
	float: right;
}
#query {
	display: inline-block;
	width: 50vw;
}
#configtitle, #querytitle, .hq-item {
	color: inherit;
	text-decoration: inherit;
}
#query, #queryhistoryol, #error-message {
	font-family: Courier;
}
input, label {
	vertical-align: middle;
}
label, #error-message, .error-close {
	font-size: 14px;
}
.config-floater, .query-floater, #error-floater {
	border: 1px solid lightgray;
	padding: 2px;
}
#queryui div {
	font-size: 14px;
}
#query-buttons {
	display: inline;
	position: fixed;
	margin-left: 10px;
}
#queryhistory, #queryinfo {
	display: none;
}
pre {
	margin: 0px;
}
#error-message {
	margin-right: 25px;
}
.error-close {
	float: right;
}
