
.config-floater {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
}
.query-floater {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 2;
}
#configtitle, #queryui {
	float: right;
}
#query {
	width: 50vw;
}
#configtitle, #querytitle, .hq-item {
	color: inherit;
	text-decoration: inherit;
}
#query {
	font-family: Courier;
}
input, label {
	vertical-align: middle;
}
label {
	font-size: 14px;
}
.config-floater, .query-floater {
	border: 1px solid lightgray;
	padding: 2px;
}
#queryui div {
	font-size: 14px;
}
#queryhistory, #queryinfo {
	display: none;
}
